header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  width: 100%;
  padding: 18px;
  margin-bottom: 20px;
}

header > h1 {
  margin: 0;
  color: yellow;
  text-shadow: 2px 2px #000;
  font-family: 'Star Jedi', sans-serif;
  font-size: 48px;
}

.starship-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.starship-info-card {
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 330px;
  background-color: #333;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(255, 255, 255, .5);
}

.btn-container {
  display: flex;
  justify-content: center;
}

.return-btn {
  background-color: #222;
  padding: 4px;
  width: 75px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(255, 255, 255, .5);
}

.return-btn:hover {
  background-color: rgb(83, 82, 82);
}

.pilot-container > h3 {
  margin: 0;
  color: yellow;
  text-shadow: 1px 1px #000;
  font-family: 'Star Jedi', sans-serif;
  font-size: 28px;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 2px 2px 8px rgba(255, 255, 255, .5);
}

.table-data {
  margin: 0;
  padding: 0;
  color: #ddd;
  text-shadow: 1px 1px #000;
  font-family: 'Star Jedi', sans-serif;
  font-size: 20px;
}

.ship-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100px;
  background-color: #333;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgba(255, 255, 255, .5);
}

.ship-container:hover {
  background-color: rgb(83, 82, 82);
}

a {
  color: yellow;
  text-decoration: none;
  font-family: 'Star Jedi', sans-serif;
  font-size: 20px;
}
